body {
    margin: 0;
    padding: 0;
    background: #e6f0fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
  .login-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  h1 {
    color: #007bff;
    margin-bottom: 25px;
  }
  
/* Genel stil */
input, select, .login-btn {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

/* Giriş butonu */
.login-btn {
  background-color: #cc0000;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover efekti */
.login-btn:hover {
  background-color: #0c4772;
}
  
  .extra-options {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .extra-options a {
    color: #000acc;
    text-decoration: none;
  }
  
  .extra-options a:hover {
    text-decoration: underline;
  }
  
  .error-msg {
    margin-top: 15px;
    color: rgb(14, 14, 241);
    font-weight: bold;
  }
  