<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Raporlarım</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/sayfa5.css') }}">
</head>
<body>
  <div class="report-container">
    <h1>Röntgen Raporlarım</h1>
    {% if reports %}
    {% for report in reports %}
    <div class="card report-card">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
                <div class="fw-bold">Durum: <span class="status-confirmed">{{ report.state }}</span></div>
                <div class="fw-bold">Güven Skoru: <span class="fw-normal">{{ report.score }}%</span></div>
            </div>
            <p><strong>Teşhis:</strong> {{ report.diagnosis }}</p>
            <p><strong>Doktor Yorumu:</strong> {{ report.doc_advice }}</p>
            <p><strong>Tedavi Planı:</strong> {{ report.treatment_plan }}</p>
            <a href="#" class="d-block text-decoration-none my-3">Röntgeni Görüntüle</a>
            <div class="d-flex align-items-center xray-visual">
              <img src="{{ report.img }}" style="width: 400px;height: 400px;"></img>
                <span>Röntgen Görseli</span>
            </div>
        </div>
    </div>

    {% endfor %}
    {% else %}
      <h2>Rapor bulunamadı</h2>
    {% endif %}
  </div>

</body>
</html>
