<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dinamik Ana Sayfa</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/sayfa3.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  {% if role == 'Doktor' %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card shadow-lg p-4" style="width: 22rem;">
        <h2 class="text-center mb-3 text-primary">Hoş Geldiniz</h2>
        <h5 class="text-center text-secondary mb-4">Doktor Görünümü</h5>

        <div class="d-grid gap-2">
          <a href="{{ url_for('myPatients')}}" class="btn btn-warning">Hastalarım</a>
          <a href="/doktor/randevular" class="btn btn-warning">Randevular</a>
          <a href="{{ url_for('seekReport') }}" class="btn btn-warning">Rapor İncele</a>
          <a href="/profil" class="btn btn-warning mb-3">Profilim</a>

          <a href="/logout" class="btn btn-danger">Çıkış Yap</a>
        </div>

        <div class="text-center mt-3">
          <a href="/sifremi-unuttum">Şifremi Unuttum</a>
        </div>
      </div>
    </div>
  {% elif role == 'Hasta' %}
  <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card shadow-lg p-4" style="width: 22rem;">
        <h2 class="text-center mb-3 text-primary">Hoş Geldiniz</h2>
        <h5 class="text-center text-secondary mb-4">Hasta Görünümü</h5>

        <div class="d-grid gap-2">
          <a href="{{ url_for('uploadImg') }}" class="btn btn-warning">Rontgen Yükle</a>
          <a href="{{ url_for('getRaports') }}" class="btn btn-warning">Raporlarım</a>
          <a href="{{ url_for('getAppointment') }}" class="btn btn-warning">Randevu İşlemleri</a>
          <a href="{{ url_for('getProfile') }}" class="btn btn-warning mb-3">Profilim</a>

          <a href="{{ url_for('logout') }}" class="btn btn-danger">Çıkış Yap</a>
        </div>

        <div class="text-center mt-3">
          <a href="/sifremi-unuttum">Şifremi Unuttum</a>
        </div>
      </div>
    </div>
    {% elif role == 'admin' %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card shadow-lg p-4" style="width: 22rem;">
        <h2 class="text-center mb-3 text-primary">Hoş Geldiniz</h2>
        <h5 class="text-center text-secondary mb-4">Admin Görünümü</h5>

        <div class="d-grid gap-2">
          <a href="/doktor/hastalar" class="btn btn-warning">Kullanıcı Yönetim</a>
          <a href="/doktor/randevular" class="btn btn-warning">Sistem Logları</a>
          <a href="/doktor/raporlar" class="btn btn-warning">Raporlar</a>
          <a href="/profil" class="btn btn-warning mb-3">Profilim</a>

          <a href="{{ url_for('logout') }}" class="btn btn-danger">Çıkış Yap</a>
        </div>

        <div class="text-center mt-3">
          <a href="/sifremi-unuttum">Şifremi Unuttum</a>
        </div>
      </div>
    </div>
  {% endif %}
</body>
</html>
