<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Randevu Al</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/sayfa4.css') }}" />
</head>
<body>
  <div id="appointmentContainer">
    <form id="/getAppointment" method="post">
      <h2>Randevu Al</h2>
      {% if docs %}
        <label for="doctor">Doktor Seçin:</label>
        <select name="doctor_id" id="doctor" required>
          {% for doc in docs %}
            <option value="{{ doc.id }}">{{ doc.username }} ({{ doc.profiency }})</option>
          {% endfor %}
        </select><br />
      {% else %}
        <h2>MUSAİT DOKTOR YOK</h2>
      {% endif %}

      <label for="date">Tarih Seçin:</label>
      <input type="date" name="date" id="date" required /><br />

      <label for="time">Saat Seçin:</label>
      <input type="time" name="clock" id="time" required /><br />

      <button type="submit">Randevu Talep Et</button>
    </form>

    <h3>Mevcut Randevularım</h3>
    {% if appointments %}
      {% for app in appointments %}
        <div id="appointmentsList">
          <div class="appointment">
            {% set date_part = app.app_date_time.split(' ')[0] %}
            {% set time_part = app.app_date_time.split(' ')[1] %}
            <p><strong>Doktor: </strong>{{ app.doctor.username}}</p>
            <p><strong>Alan: </strong>{{ app.doctor.profiency }}</p>
            <p><strong>Tarih:</strong> {{ date_part }} </p>
            <p><strong>Saat:</strong> {{ time_part }}</p>
            <p><strong>Durum:</strong>{{ app.state }}</p>
          </div>
      {% endfor %}
    {% endif %}

    {% if error %}
    <div><p>{{ error }}</p></div>
    {% endif %}
  </div>
</body>
</html>
