<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Röntgen Yükleme</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/sayfa6.css') }}" />
</head>
<body>
  <form id="xrayUploadForm" enctype="multipart/form-data" method="post">
    <h2>Röntgen Yükle</h2>

    <label for="fileInput" class="upload-btn">
      <input type="file" id="fileInput" name="file" required />
      Kamera ile çek veya galeriden yükle
    </label>
    
    {% if file_location %}
    <div id="">
      <img id="" src="{{ file_location }}" alt="Röntgen Önizleme" style="width: 400px; height: 400px;"/>
    </div>
    {% endif %}

    <button type="submit">Yükle</button>
    <a href="{{ url_for('runAnly') }}"><button type="button">btn</button></a>
    <div id="uploadMessage" style="display: none;">
      <p>Yapay zekâ analizi başladı, sonucu Raporlarım’dan görebilirsiniz.</p>
    </div>

    <div id="errorMessage" style="display: none;">
      <p style="color: red;">Yükleme başarısız! Lütfen geçerli bir format yüklediğinizden emin olun.</p>
    </div>
  </form>

</body>
</html>
