<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tedavi Planı</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/sayfa9.css') }}">
</head>
<body>
  <div class="treatment-container">
    <h1>Tedavi Planı Oluştur</h1>
    <form id="treatmentForm" method="post" action="/treatUpdate/{{ report.id }}">
      <div class="form-group">
        <label for="patientName">Hasta Adı:</label>
        <input placeholder="{{ user.username }}" type="text" id="patientName" disabled>
      </div>
      <div class="form-group">
        <label for="fractureType">Teşhis Edilen Kırık Türü:</label>
        <input placeholder="{{ report.diagnosis }}" type="text" id="fractureType" disabled>
      </div>
      <div class="form-group">
        <label for="treatmentPlan">Açıklamalı Tedavi Planı:</label>
        <textarea name='treatment_plan' id="treatmentPlan" rows="6" required></textarea>
      </div>
      <a href="#"><button type="submit" class="save-btn">Kaydet</button></a>
    </form>
    <div class="success-msg" id="successMsg"></div>
  </div>

</body>
</html>
