<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Giriş Yap - Kırık Tespiti</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/sayfa1.css') }}" />
</head>
<body>
  <div class="login-container">
    <h1>Kemik Kırık Tespiti</h1>
    <form id="/" method="post">
      <input type="email" id="email" name='email' placeholder="E-posta adresiniz" required />
      <input type="password" id="password" name="password" placeholder="Şifre" required />

      <select id="role" name='role' required>
        <option disabled selected value="">Rol Seçin</option>
        <option value="Hasta">Hasta</option>
        <option value="Doktor">Doktor</option>
        <option value="Admin">Admin</option>
      </select>

      <button type="submit" class="login-btn">Giriş Yap</button>

      <div class="extra-options">
        <a href="#" id="forgot">Şifremi Unuttum</a>
        <span> / </span>
        <a href="{{ url_for('register_page') }}" id="register">Kayıt Ol</a>
      </div>
      {% if error %}
        <div class="error-msg" id="errorMsg">HATALI GİRİŞ</div>
      {% endif %}
    </form>
  </div>

</body>
</html>
